.footer {
  clear: both;
  position: static;
  display: block;
  text-align:center;
}

a.navbar-brand{
  margin-top:10px;
}

.footerli {
  display: inline;
  text-decoration: none;
}

#textbox {
  display:inline !important;
  padding-top:
}

.dropdown-backdrop {
    position: static;
}

#picture {
  position:static;
  margin:0 auto;
  top:50px;
  bottom: 0;
  left: -380px;
  right: 0;
  padding-top: 50px;
  clear:right;
  float:left!important;
  display:inline-block !important;
  padding-bottom: 40px;
  align-content:center;
}

img {
  border-radius: 5px;
  width:400px;
  height:400px;
  position: relative;
  float:center;
  padding-top: 50px !important;
  padding-bottom: 25px !important;
}

div.container {
  float:left;
  display: inline-block
}

div.well {
  position:static;
  clear:both !important;
  float:right !important;
  display: inline-block !important;
}

.navbar-fixed-top {
  clear:none;
  position:fixed;
  display:block;
}

#but {
  color: #000024;
  font-size: 4em;
  padding-left: 25px;
  padding-right:25px;
}

body {
  padding-top: 60px;
  padding-bottom: 30px;
}

.navbar-brand {
	margin-left: 15px;
}
