.footer {
  clear: both;
  position: static;
  display: block;
  text-align:center;
}

a.navbar-brand{
  margin-top:10px;
}

.footerli {
  display: inline;
  text-decoration: none;
}


.dropdown-backdrop {
    position: static;
}

img {
  border-radius: 115px;
  width:430px;
  height:310px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px !important;
  padding-top: 30px !important;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.navbar-fixed-top {
  clear:none;
  position:fixed;
  display:block;
}

#but {
  color: #000024;
  font-size: 4em;
  padding-left: 25px;
  padding-right:25px;
}

body {
  padding-top: 80px;
  padding-bottom: 30px;
}

.navbar-brand {
	margin-left: 15px;
}
